/*titulos*/
.FarmaciaTitle, .PagoTitulo {
background-color: #06aa00;
background-position: 100%;
color: white;
padding: 0px;
text-align: left;
font-size: 20px;
border-radius: 20px;
display: flex;
}

#logoFarmacia {
width: 20%;
height: 90%;
vertical-align: middle;
position: relative;
left: 1%;
top: -1%;
}

#Farmacia {
font-size: 80px;
margin: 0px;
}

/* Botones */
.btn-iniciosesion, #btn-iniciar-sesion {
top: 30px;
right: 10px;
position: absolute;
}

.btn-iniciosesion input {
font-size: 18px;
border-radius: 20px;
}
input {
font-size: 16px;
border-radius: 10px;
}

#mensaje-iniciosesion {
font-size: 16px;
color: rgb(251, 255, 0);
margin-top: 10px;
width: 500px;
}

.btn-iniciosesion button {
background-color: #ffffff;
font-size: 18px;
border-radius: 20px;
}

.btn-iniciosesion button:hover {
background-color: #0056b3;
color: white;
}

#btn-crear-cuenta {
background-color: white;
top: 60px;
right: 10px;
position: absolute;
font-size: 18px;
border-radius: 20px;
}

#btn-crear-cuenta:hover {
background-color: #0056b3;
color: white;
}

#submit, #TituloRegist{
font-size: 18px;
border-radius: 20px;
}

/* Registro de  usuarios */
#FormRegistro {
background-color: #00A339; 
color: white;
font-size: 20px;
border-radius: 20px;
padding-top: 15px;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
margin-left: 10px;
position: absolute;
left: 71.2%;
align-content: left;
width: 440px;
top: 160px;
}

/* Menus pagina principal*/

.menu {
display: flex;
gap: 10px;
background-color: #f5f5f5;
padding: 10px;  
}

.menu button {
padding: 10px;
border: none;
background-color: #00A339;
color: white;
font-size: 20px;
cursor: pointer;
border-radius: 10px;
position: relative;   
}

.menu button:hover {
background-color: #0056b3;
}

.buscador {
position: relative  ;
font-size: 20px;
right: -15%;
top: 110px;
width: 200px;
}

#buscarProducto{
padding-right: 40px;    
padding-top: 5px;
height: 35px;
width: 200%;
max-width: 800px;
font-size: 20px;
box-sizing: border-box;
border-radius: 20px;
}

#btnBuscar {
position: absolute;
right: -100%;
top: 50%;
transform: translateY(-230%);
border: none;
background: none;
cursor: pointer;
}

#icono-lupa {
width: 25px;
height: 25px;
}

#contenido {
margin-top: 20px;
}

.cuadro {
min-width: 500px;
background-color: #f9f9f9;
border: 2px solid #00A339;
border-radius: 12px;
padding: 20px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
gap: 30px;
}

.producto {
display: flex;
flex-direction: column;
align-items: center;
margin: 25px;
width: 150px;
text-align: center;
}

.producto img {
width: 200px;
height: 200px;
margin-bottom: 5px;
}

.producto h4 {
margin: 0;
font-size: 20px;
}

.producto span {
color: #00A339;
font-weight: bold;
font-size: 15px;
}

.btn-agregar {
background-color: #00A339;
color: white;
border: none;
padding: 8px 12px;
border-radius: 8px;
cursor: pointer;
}

.btn-agregar:hover {
background-color: #003d80;
}

/* Carrito  */
#btn-carrito{
position: absolute;
right: 230px;
top: 110px;
width: 180px;
padding: 10px;
background-color: #00A339;
border-radius: 20px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
color: white;
font-size: 15px;
cursor: pointer;
}
#btn-vaciar, #btn-comprar {
background-color: #FF7F00;
color: white;
border: 1px solid white;
padding: 8px 12px;
border-radius: 8px;
cursor: pointer;
margin-top: 10px;
}

#btn-carrito:hover, #btn-vaciar:hover, #btn-comprar:hover {
background-color: #003d80;
}

#carrito {
position: absolute;
right: 100px;
top: 160px;
width: 400px;
padding: 15px;
background-color: #00A339;
border-radius: 20px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.item-carrito {
margin-bottom: 8px;
font-size: 15px;
color: white;
}

.total-carrito, #carrito-lista {
position: relative;
margin-top: 10px;
font-weight: bold;
font-size: 30px;
color: #ffffff;
}

#icono-carrito {
width: 15px;
height: 15px;
margin-right: 10px;
}

#carrito-titulo {
display: inline;
font-size: 15px;
color: white;
}

.carrito- {
display: flex;
align-items: center;
margin-bottom: 10px;
}
/* */
/*  */
/*  */
/*  */
/*  */
/*Pagos*/
#formPago {
color: white;
font-size: 50px;
padding: 10px;
border-radius: 20px;
background-color: #00A339;
position: relative;
width: 30%;
height: 60%;
top: 5%;
left: 35%;
}
#formPago input {
font-size: 50px;
border-radius: 10px;
}